<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plands.backend.mapper.DiaryMapper">

    <insert id="insertDiary" parameterType="com.plands.backend.dto.DiaryDto">
        INSERT INTO diary (
            member_id,
            content,
            diary_date,
            image_path
        ) VALUES (
            #{memberId},
            #{content},
            #{diaryDate},
            #{imagePath}
        )
    </insert>

    <select id="selectDiaryList" resultType="com.plands.backend.dto.response.DiaryResponseDto">
        SELECT
            diary_id,
            member_id,
            image_path,
            content,
            diary_date
        FROM diary
        WHERE member_id = #{memberId}
            AND diary_date >= #{startDate}
            <![CDATA[ AND diary_date <= #{endDate} ]]>
    </select>
</mapper>